{% extends 'base.html.twig' %}

{% block navigation %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('user_registration') }}" class="btn btn-success">{{ Create }}</a>
    {% endif %}
    <a href="{{ path('product_page') }}" class="btn btn-info">{{ View }}</a>
    <a href="{{ path('app_logout') }}" class="btn btn-danger">{{ Exit }}</a>
{% endblock %}

{% block contentTableBody %}
    {% for item in users %}
        <tr class="text-center">
            <td>
                <a href="{{ path('user_by_id', {'id': item.id}) }}" class="btn btn-info">{{ item.nickname|capitalize }}</a>
            </td>
            <td>{{ item.email }}</td>
            <td>
                {% for elem in item.phone %}
                    <p>
                        {{ elem.phone }} /
                        <a href="{{ path('delete_phone', {'id':  elem.id }) }}" class="btn btn-danger">{{ Delete }}</a>
                    </p>
                {% endfor %}
            </td>
            <td>{{ item.birthdate.date|date("d-m-Y") }}</td>
            <td>
                {% for elem in item.product %}
                    <p>
                        {{ elem.name }} /
                        <a href="{{ path('delete_user_product', {'userId':  item.id, 'productId':  elem.id }) }}"
                           class="btn btn-danger">{{ Delete }}</a>
                    </p>
                {% endfor %}
            </td>
            <td>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('update_role', {'id':  item.id }) }}" class="btn btn-warning">{{ Update }}</a><br/>
                {% endif %}
                {{ item.role }}
            </td>
            <td>
                <p>
                    <a href="{{ path('update_user', {'id': item.id}) }}" class="btn btn-warning">{{ Update }}</a>
                </p>
                <p>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('delete_user', {'id': item.id}) }}" class="btn btn-danger">{{ Delete }}</a>
                    {% endif %}
                </p>
                <p>
                    <a href="{{ path('create_phone', {'id': item.id}) }}" class="btn btn-success">{{ AddPhone }}</a>
                </p>
                <a href="{{ path('add_user_product', {'id': item.id}) }}" class="btn btn-success">{{ AddProduct }}</a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
